<html>

<head>

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        Bem vindo ao Smart Presence by Fit/Flex
                    </h2>
                    <p>
                        Esta solução tem o intuito de transformar a sua Meeting em uma sala de aula!, faça sua chamada e
                        monitore quanto tempo as pessoas ficam conectadas em sua aula,
                        ao final de sua aula exporte um relatório com os dados de presença da reunião!
                        <b>let's start!</b>
                    </p>
                </div>
                <div class="row time-meeting">
                    <div class="col-md-4">
                        <h2>
                            Tempo de reunião até agora:
                        </h2>
                    </div>
                    <div class="col-md-8 text-rigth">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>
                                    50.3
                                </h2>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <dvi class="col-md-6">
                                        <p>Para contador</p>
                                        <button type="button" id="stop-counter" class="btn btn-danger">Parar</button>
                                    </dvi>
                                    <dvi class="col-md-6">
                                        <p>iniciar contador</p>
                                        <button type="button" id="start-counter"
                                            class="btn btn-success">Iniciar</button>
                                    </dvi>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h1>Pessoas na reunião!</h1>
                        <hr>
                        <div id="app-4">
                            <table class="flat-table flat-table-1">
                                <thead>
                                    <th>Nome</th>
                                    <th>Tempo</th>
                                    <th>Porcentagem%</th>

                                </thead>
                                <tbody>
                                    <tr v-for="todo in todos">
                                        <td>{{ todo.nome }}</td>
                                        <td>{{ todo.tempo }}</td>
                                        <td>100%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div id=app-5>
                            <div class="form-group" v-for="(input,k) in inputs" :key="k">
                              <input type="text" class="form-control" v-model="input.name">
                              <input type="text" class="form-control" v-model="input.party">
                              <span>
                                <i class="fas fa-minus-circle" @click="remove(k)" v-show="k || ( !k && inputs.length > 1)">Remove</i>
                                <i class="fas fa-plus-circle" @click="add(k)" v-show="k == inputs.length-1">Add fields</i>
                              </span>
                            </div>
                            <button @click="addCandidate">
                              Submit
                            </button>
                          </div>

                    </div>
                    <div class="col-md-4">
                        <h2>Exportar dados</h2>
                        <hr>
                        <button type="button" id="downloadcsv" class="btn btn-default">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        function convertToCSV(objArray) {
            var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
            var str = '';

            for (var i = 0; i < array.length; i++) {
                var line = '';
                for (var index in array[i]) {
                    if (line != '') line += ','

                    line += array[i][index];
                }

                str += line + '\r\n';
            }

            return str;
        }

        function exportCSVFile(headers, items, fileTitle) {
            if (headers) {
                items.unshift(headers);
            }

            // Convert Object to JSON
            var jsonObject = JSON.stringify(items);

            var csv = this.convertToCSV(jsonObject);

            var exportedFilenmae = fileTitle + '.csv' || 'export.csv';

            var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
            if (navigator.msSaveBlob) { // IE 10+
                navigator.msSaveBlob(blob, exportedFilenmae);
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) { // feature detection
                    // Browsers that support HTML5 download attribute
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", exportedFilenmae);
                    link.style.visibility = 'hidden';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            }
        }

        function download(obj) {
            var headers = {
                nome: 'Nome'.replace(/,/g, ''), // remove virgula para evitar erros
                tempo: "Tempo",
                // percentage: "Porcentagem",
            };

            // itemsNotFormatted = [
            // {
            //     Id: 0,
            //     nome:"Reginaldo",
            //     tempo:"1.28"
            // }]


            var itemsFormatted = [];
            alert(JSON.stringify(obj));

            // format the data
            obj.forEach((item) => {
                itemsFormatted.push({
                    id: item.id,
                    nome: item.nome.replace(/,/g, ''), // remove virgula para evitar erros
                    tempo: item.tempo,
                });
            });

            var fileTitle = 'Lista de presença'; // ou 'qualquer titulo'

            exportCSVFile(headers, itemsFormatted, fileTitle); // call the exportCSVFile() function to process the JSON and trigger the download
        }
    </script>




    <script>

        $(document).ready(function () {

            loadScript(chrome.extension.getURL("/assets/js/lib/jquery.min.js"))
            loadScript(chrome.extension.getURL("/assets/js/lib/bootstrap.min.js"))
            loadStyle(chrome.extension.getURL("/assets/css/bootstrap.min.css"))
            loadStyle(chrome.extension.getURL("background.css"))



            $("#start-counter").click(function () {
                if (typeof variable === 'undefined') {
                    setTimer();
                    $("#stop-counter").prop('disabled', false);
                    $(this).prop('disabled', true);
                }
                else {
                    clearInterval(timerID);
                    setTimer();
                    $("#stop-counter").prop('disabled', false);
                    $(this).prop('disabled', true);
                }

            });

            $("#stop-counter").click(function () {
                clearInterval(timerID);
                $(this).prop('disabled', true);
                $("#start-counter").prop('disabled', false);
            });


            $("#downloadcsv").click(function () {

                download(participantsinfo);
            });

        });

        var timerID = null;
        var participantsinfo = []
        var timeInMeeting = {};
        var participants = document.querySelectorAll(".participants-item__display-name");

        participants.forEach(
            element => timeInMeeting[element.innerText] = 0
        );

        function setTimer() {
            timerID = setInterval(
                () => [ParticipantsTracker(timeInMeeting, 10 * 1000)], 10 * 1000,
            );
        }

        function ParticipantsTracker(participants, refreshTime,) {
            var dados = {};
            var i = 0;
            for (var key in timeInMeeting) {
                timeInMeeting[key] = this.getParticipantTime(timeInMeeting, key, Math.floor((refreshTime / 60000) * 100) / 100);

                index = participantsinfo.findIndex(x => x.nome === key);

                console.log(JSON.stringify(index));

                if (index == -1) {
                    dados["Id"] = i;
                    dados["nome"] = key;
                    this.myNumber
                    dados["tempo"] = (timeInMeeting[key]).toFixed(2);
                    participantsinfo.push(dados);
                    dados = {};
                } else {
                    dados[key] = (timeInMeeting[key]).toFixed(2);
                    try {
                        participantsinfo[index].tempo = (timeInMeeting[key]).toFixed(2);
                    } catch (error) {

                    }

                }




                i++;
            }


            return participants;
        }
        function participantIspresent(participant) {
            var allparticipants = {};

            allparticipants = this.getOnlineParticipants();

            if (allparticipants[participant] === undefined) {
                return false;
            }
            else {
                return true;
            }
        }
        function getOnlineParticipants() {
            var ParticipansInMeetingNow = {};
            var Allparticipants = document.querySelectorAll(".participants-item__display-name");
            Allparticipants.forEach(
                el => ParticipansInMeetingNow[el.innerText] = 0
            );

            this.InsertNewParticipant(Allparticipants);

            return ParticipansInMeetingNow;
        }
        function InsertNewParticipant(allparticipants, ParticipansInMeetingNow) {

            allparticipants.forEach(

                element => {
                    if (timeInMeeting[element.innerText] === undefined) {
                        timeInMeeting[element.innerText] = 0
                    }
                }
            );

            return "";
        }
        function getParticipantTime(participants, participant, timetoadd) {

            var IsPresent = this.participantIspresent(participant);

            var participantTime = participants[participant];


            if (IsPresent == true) {
                participantTime = participantTime + timetoadd;
            }
            return participantTime;
        }

        function getBase64(file) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = () => resolve(reader.result);
                reader.onerror = error => reject(error);
            });
        }

        function loadScript(scriptUrl) {
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = scriptUrl;
            head.appendChild(script);
        }
        function loadStyle(scriptUrl) {
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('link');
            script.href = scriptUrl;
            head.appendChild(script);
        }

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: participantsinfo
            },
        })

        var app5 = new Vue({
            el: '#app-5',

            data() {
                return {
                    inputs: [{
                        name: '',
                        party: ''
                    }]
                }
            },

            methods: {
                add() {
                    this.inputs.push({
                        name: '',
                        party: ''
                    })
                    console.log(this.inputs)
                },

                remove(index) {
                    this.inputs.splice(index, 1)
                },
                addCandidate() {
                   
                }
            }
        })
    </script>
</body>

</html>